.nav li {display:inline; zoom:1; margin-right:3px;}
.project-list li {display:inline; zoom:1;}
.side-nav-block{zoom:1;}
.object-list h3{zoom:1;}
.object-photos li {display:inline; zoom:1;}
.gallery h2, .gallery .list-link, .blog-block h2, .blog-block .list-link {display:inline; zoom:1; vertical-align:middle;}