<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>

  <connectionStrings>
    <add name="ArtumDesignLab.Properties.Settings.u199963_avtoConnectionString"
      connectionString="Data Source=u199963.mssql.masterhost.ru;Initial Catalog=u199963_avto;Persist Security Info=True;User ID=u199963;Password=pin6ass2porco"
      providerName="System.Data.SqlClient" />
    <add name="ArtumDesignLab.Properties.Settings.ArtumDesignLabConnectionString"
      connectionString="Data Source=u199963.mssql.masterhost.ru;Initial Catalog=u199963_avto;User ID=u199963;Password=pin6ass2porco"
      providerName="System.Data.SqlClient" />
    <add name="ArtumDesignLab.Properties.Settings.ArtumDesignLabConnectionString1"
      connectionString="Data Source=(local);Initial Catalog=ArtumDesignLab;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ArtumDesignLab.Properties.Settings.SelectSocietyConnectionString"
      connectionString="Data Source=(local);Initial Catalog=SelectSociety;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ArtumDesignLab.Properties.Settings.u199963_avtoConnectionString2"
      connectionString="Data Source=ds\sqlexpress;Initial Catalog=u199963_avto;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>